.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-height: 100vh;
  .home__container {
    width: 100%;
    position: relative;
    .home__info {
      top: 48vh;
      position: relative;
      width: 95%;
      background-color: #f5f6f6;
      text-align: center;
      margin: auto;
      padding: 10px 14px !important;
      font-size: 14px !important;
      color: #0f1111 !important;
      a {
        color: #007185;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: #c7511f;
        }
      }
    }
    .home__row__main {
      display: flex;
      top: 50vh;
      z-index: 1;
      position: relative;
      justify-content: space-between;
      margin: auto;
      margin-bottom: 20px;
      width: 95%;
    }
    .home__row {
      display: flex;
      z-index: 1;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      top: 50vh;
      // flex-wrap: wrap;
    }
  }
}

.home__image {
  z-index: 1;
  // margin-bottom: -150px;
  height: 100vh;
  // mask-image: linear-gradient(to bottom, black 75%, transparent 25%);
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
  mask-image: linear-gradient(to top, transparent 25%, black 75%);
}

.custom-arrow-left,
.custom-arrow-right {
  position: absolute;
  top: 10%;
  // border-radius: 50%;
  // border: 1px solid grey;
  // -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.56);
  // box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.56);
  font-weight: bold;
  outline: none;
  height: 1.3em;
  width: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  // color: white;
  // background: #f3f3f3;
}
.custom-arrow-left {
  left: 10px;
}
.custom-arrow-right {
  right: 10px;
}
.custom-arrow-right:hover,
.custom-arrow-left:hover {
  cursor: pointer;
}

svg.MuiSvgIcon-root.custom-arrow-left {
  // height: 100px;
  width: 40px;
}

.alice-carousel {
  position: absolute;
  min-height: 100vh;
}
