@import "react-alice-carousel/lib/alice-carousel.css";

textarea:focus,
input:focus {
  outline: none;
}

img {
  height: auto;
  width: 100%;
}

p {
  margin: 0px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.86;
}
